* {
    font-family: 'Garamond', serif;
    color: #414141;
}

body {
    margin: 0 50px 0;
    background-color: #E9D9CB;
}

nav {
    overflow: hidden;
}

a {
    text-decoration: none;
    margin-left: 0;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 0.5vw 0;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 15vw;
    background-color: #E9D9CB;
    z-index: 1;
    margin: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 0.1vw 0;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_logo {
    width: 5vw;
    height: auto;
}

h1 {
    font-size: 30px;
}

.fill_img {
    width: 100%;
    height: auto;
}

.time {
    width: 5%;
    height: auto;
}

main img {
    width: 30%;
    height: auto;
    padding: 0;
}

.items {
    width: 10%;
    height: auto;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

.icons {
    width: 1vw;
    ;
    height: auto;
    padding: 0;
}

footer {
    margin-top: 0.2vw;
    text-transform: uppercase;
}
